<ion-content>
  <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-9.01,157.39 C217.21,-37.98 251.63,227.45 513.11,36.02 L504.09,-6.41 L-14.75,-4.44 Z" style="stroke: none; fill: #f08080;"></path></svg></div>
  <div class="flex">
    <ion-img class="logo-img" src="assets/img/logo.png"></ion-img>
  </div>

  <div class="container flex">
    <ion-button color="danger" href="/login">Iniciar Sesion</ion-button>
  </div>

  <div class="flex">
    <ion-text color="dark">
      <h1>¿Quines somos?</h1>
    </ion-text>
  </div>

  <div class="container flex">
    <ion-text color="dark" class="ion-text-center">
      <h5>Somos una empresa dedicada a Ofrecer tazas de café orgánico cuidando cada detalle, desde la tierra y las plantas, los tuestes y la preparación.
        Tenemos para ustedes. Espressos, capuccinos, lattes, sorbetos, y americanos con diferentes métodos de extracción como: Driper, chemex, kalita y sifón.
        Para acompañar el café ofrecemos pastelería y repostería.</h5>
    </ion-text>
  </div>

  <div class="flex">
    <ion-text color="dark">
      <h1>Misión</h1>
    </ion-text>
  </div>

  <div class="container flex">
    <ion-text color="dark" class="ion-text-center">
      <h5>Promover el consumo del café de alta calidad siendo una compañía íntegra y rentable, proveer un espacio que satisfaga los gustos y necesidades de nuestros clientes mediante la mezcla de sabores e ingredientes en las diferentes presentaciones, ofreciendo un producto atractivo y accesible.</h5>
    </ion-text>
  </div>

  <div class="flex">
    <ion-text color="dark">
      <h1>Visión</h1>
    </ion-text>
  </div>

  <div class="container flex">
    <ion-text color="dark" class="ion-text-center">
      <h5>Ser una empresa competitiva en calidad y precio de nuestros productos, mantenernos innovando tanto en sabores como en el servicio, para lograr permanecer en el gusto de nuestros consumidores durante generaciones.</h5>
    </ion-text>
  </div>

</ion-content>
