<ion-header>
  <ion-toolbar>
    <ion-title>Seleccione su Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="4" class="p-1" *ngFor="let t of filterTables">
        <ion-card class="card">
          <div class="card-content">
            <ion-button expand="full" color="danger" routerLink="/menu">
              <ion-icon name="tablet-portrait" item-start></ion-icon>
                {{ t.name}}
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
