


<ion-content>
  <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-9.01,157.39 C217.21,-37.98 251.63,227.45 513.11,36.02 L504.09,-6.41 L-14.75,-4.44 Z" style="stroke: none; fill: #f08080;"></path></svg></div>
  <div class="flex">
    <ion-img class="logo-img" src="assets/img/logo.png"></ion-img>
  </div>

  <div class="container">
    <form  [formGroup]="form" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-label position="floating" class="label">Email</ion-label>
        <ion-input color="danger" type="email" formControlName="email" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating" class="label">Contraseña</ion-label>
        <ion-input type="password" color="danger" formControlName="password" name="password" required></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button type="submit" expand="full" shape="round" [disabled]="!form.valid && !load" color="danger">
        Iniciar sesión
        <ion-spinner *ngIf="load" slot="end" name="crescent"></ion-spinner>
      </ion-button>
    </form>
  </div>

  <div class="container flex">
    <p>¿Aún no tienes una cuenta?</p>&nbsp;<ion-text routerLink='/register' color="danger" style="align-self: center;">Registrate</ion-text>
  </div>
</ion-content> 
