.flex {
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo-img {
    width: 15rem;
}

.label, p {
    color: #707070;
}


.container {
    padding: 1rem;
}


.error {
    color: red;
}