<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-buttons slot="end" >
      <ion-button fill="outline" mode="ios" routerLink="/teclado">     
        X   
        {{cantidad}}      
      </ion-button>
    </ion-buttons>
  
    <ion-title class="ion-text-capitalize">Menú</ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" (ionChange)="changeSearch($event)"></ion-searchbar>

  </ion-header>
  
<ion-content >

 
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="4" class="p-1" *ngFor="let p of filterProducts">
        <ion-card class="card" (click)="add(p)"  style="max-width: 250px">
          <ion-img [src]="p.img_path"></ion-img>
          <div class="card-content">
            <ion-text>{{p.name}}</ion-text>
            <br>
            <ion-text>${{p.price}}</ion-text>
          </div>
        </ion-card>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer >
  <ion-button expand="full"   color="danger" id="next" [disabled]="infoPedido.cant == 0" routerLink="/carrito">
    <ion-text slot="start">
      {{infoPedido.cant}} producto = ${{infoPedido.total}} 
    </ion-text>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>