<app-header title="Carrito de compras" back="/menu"></app-header>

<ion-content>

  <ion-list>

    <ion-item lines="full" *ngFor="let p of productos">
        
      <ion-avatar slot="start"> 
        <img [src]="p.product.img_path">
      </ion-avatar>
      <ion-label>
        <h3 class="name-prod">{{p.product.name}}</h3>
        
        <small color="danger">x{{p.cant}} ${{p.subtotal}}</small>
      </ion-label>
      <ion-icon (click)="confirmRemove(p.product._id)" color="danger" slot="end" name="trash-outline"></ion-icon>

    </ion-item>

    <ion-item lines="none">
      <ion-label slot="start">Total: ${{total}}</ion-label>
    </ion-item>

    <!--<ion-item lines="none">
      <ion-label slot="start">Mesa selecionada:</ion-label>
    </ion-item>-->

  </ion-list>

</ion-content>

<ion-footer >
  <ion-button expand="full"   color="danger" id="next" routerLink="/domicilio">
    Confirmar Pedido
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>

<ion-footer >
  <ion-button expand="full"   color="danger" id="next" routerLink="/table">
    Selecionar otra Mesa
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>
