ion-text {
    justify-content: center;
}

h2 {
    color: #d66e6e;
    text-align: center;
}

p {
    margin-top: 20px;
    color: #757575;
    text-align: center;
    font-size: small;
}

.v-web {
    max-width: 400px;
    margin: 0 auto;
}

.card {
    margin: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(156, 156, 156);
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    cursor: pointer;
    
    .images {
        max-width: 100px;
    }
    .images img{
        max-width: 100px;
    }


    .info p {
        text-align: left;
    }

    .total {
        margin: 0 auto;
    }
}