<app-header title="Proceso de Pago" back="/carrito"></app-header>

<ion-content >

    <ion-list>

    </ion-list>

    <div class="ion-padding">

    </div>
    
</ion-content>


<ion-footer >
    <ion-button expand="full" color="danger" (click)="next()">
      Pagar
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
</ion-footer>