<ion-split-pane contentId="main">
  <ion-menu  contentId="main" id="menu" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Cafeteria el Sabor de la Vida</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle auto-hide="false" *ngFor="let c of menuOpt | async">
          <ion-item  [routerLink]="c.redirectTo">
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label class="ion-text-capitalize">{{c.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
      <ion-list>
        <ion-item (click)="logOut()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>

