<app-header back="/menu"></app-header>

<ion-content>
  <div class="v-web">
    <img src="assets/img/no-data.png" alt="">

    <ion-text>
      <p>
        Tu pedido se ha realizado.
      </p>
    </ion-text>

  </div>

</ion-content>

<ion-footer >
  <ion-button expand="full"   color="danger" id="next" routerLink="/detalle">
    Ver pedido
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>